/* Define Helper Class */



/* === Media Queries ==== */

@media (max-width: 1200px){

	.wrapper{
		padding: 0 20px;
	}

}
@media (max-width: 1090px) {

	

}

@media (max-width: 992px) {

	.navbar-nav{
		text-align: center;
		float: none;
	}

	.navbar-nav>li{
		float: none;
		display: inline-block;
	}
    
    .left {display: none;}

}

@media (max-width: 890px){

	
}

@media (max-width: 768px){

	.hadis-list:nth-child(2){
		border-right: 0;
	}

	.hadis-list:nth-child(2):after{
		display: none;
	}
	
}

@media (max-width: 680px){

	.navbar-nav>li>a{
		font-size: 12px;
		padding: 0px 3px;
		margin: 0;
	}

	.header-panel{
		padding-top: 1px;
	}

	.hadis-list{
		border-right: 0;
	}

	.hadis-list:after{
		display: none;
	}

	.title{
		font-size: 30px;
		margin-bottom: 42px;
	}


}

@media (max-width: 640px) {

	a.site-logo{
		/*position: static;*/
		display: block;
		/*margin: 10px auto;*/
		z-index: 100;
		left: 20px;

	}

	.main-menu{
		max-width: 100%;
		/*padding-bottom: 20px;*/
		/*padding-top: 20px;*/
		/*padding: 0;
		position: absolute;
		right: 0;
		top: 0;*/
	}

	.navbar-nav>li{
		display: block;
		text-align: justify;
		padding: 0 15px;
	}

	.navbar-nav>li>a:after{
		background: none;
		display: none;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form, .main-menu .container-fluid{
		/*padding-right: 15px;
	padding-left: 15px;*/
	}

	.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse{
		
	}

	.navbar-nav{
		margin: 0;
	}

	.navbar-header{
		padding: 10px;

	}

	.main-menu .navbar-default{
		/*background: #7a8e95;*/
	}

	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
		background: #ffffff;
		border:1px solid #93C528;
	}

	.navbar-toggle{
		border: none;
	}

	.navbar-default .navbar-toggle{
		background: #ffffff;
		border:1px solid #93C528;
		margin: 0;
	}

	.navbar-default .navbar-toggle .icon-bar{
		background: #93C528;
	}

	.navbar-default .navbar-collapse{
		margin: 0;
		position: absolute;
		width: 100%;
		background: #898484;
		z-index: 999;
		top: 58px;
	}

	.navbar-nav>li>a{
		font-size: 14px;
		color: #ffffff;
	}

	.navbar-nav>li:hover{
		background: #cccccc;
	}

	.navbar-default .navbar-brand{
		color: #ffffff;
	}

	.user-login-area{
		top: 11px;
		right: 70px;
	}

	.footer-widget{
		max-width: 250px;
		margin: 10px auto;
	}

	.header-panel{
		position: fixed;
		width: 100%;
		z-index: 1000;
		top: 0;
		background: #ffffff;
	}

	body{
		padding-top: 60px;
	}
	
}

@media (max-width: 480px) {

	a.site-logo{
		/*margin: 10px;*/
	}
    
    .hadis {
        background-size: 100%;
    }

}

@media (max-width: 380px) {

	.user-login-area{
		
	}
    
    .hadis {
        background-size: 100%;
    }

	a.site-logo{
		text-align: center;
		position: static;
		margin: 10px;
        float: left;
        margin-left: 0px;
        margin-top: 14px;
	}
}



