<head>

</head>
<body>
  <div style = "text-align: center">
    <h1>Bismillahir Rahmanir Rahim</h1>
    <h2>Allahu Akbar</h2>
  </div>
  <p>
    This is a very long paragraph.
    This is a very long paragraph. This is a very long paragraph. This is a very long paragraph. This is a very long paragraph.
    <b>This is a bold stament with <i>Italic</i></b>
  </p>
</body>
